* {
    box-sizing: border-box;
}

:root {
    --base-color: #11121a;
    --line-color: #42434a;
    --hover-color: #222533;
    --text-color: #e6e6ef;
    --accent-color: #5e63ff;
    --secondary-text-color: #b0b3c1;
}

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
}

.logo {
    width: 90px;
    ;
    height: auto;
}

.page-title {
    color: var(--accent-color);
}

.sidebar {
    font-weight: 600;
    width: 300px;
    padding: 32px;
    background-color: var(--base-color);
    border-right: 1px solid var(--line-color);
}

.sidebar li {
    color: bisque;
    padding: 16px;
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}

.main-content {
    display: flex;
    gap: 20px;
    padding: 20px;
}

main {
    padding: 16px;
    width: 100%;
}

.read-more {
    border-radius: 16px;
    padding: 20px;
    background-color: black;
}
 .more {
    display: none;
 }

h2 {
    color: antiquewhite;
    text-align: center;
}

.animal_name {
    color: #b0b3c1;
    text-align: left;
}

main p {
    color: var(--secondary-text-color);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-top: 1rem
}

footer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        padding: 2em 1em 60px 1em;
    }

    .container {
        border: none;
        padding: 0;
    }

    .sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--line-color);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;

        }
    }