/* * {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #42434a;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}


.page-title {
    color: #5e63ff;
    font-size: 2rem;
    margin: 0;
}

.main-content {
    display: flex;
    flex-grow: 1;
    font-size: 1.2rem;
}

.sidebar {
    background-color: #11121a;
    border-right-color: whitesmoke;
    flex: 0 0 25%;
    padding: 16px;
    padding-top: 50px;
    font-style: normal;
}

.main {
    flex-grow: 1 0 auto;
    padding: 20px;
}

h2 {
   color: bisque;
    text-align: center;
}

.animal_name {
    color: bisque;
}

.sidebar li {
    color: bisque;
    padding: 16px;
    cursor: pointer;
    list-style-type: none;
    font-size: 1.5rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}

.footer {
    background-color: #b0b3c1;
    padding: 8px;
    text-align: center;
}

.read-more {
    border-radius: 16px;
    padding: 20px;
    background-color: bisque;
}

.logo {
    width: 90px;;
    height: auto;
}

.dropdown {
    display: none;
}
.menu-toggle,
.submenu-toggle {
    display: none;
}

.menu li {
    display: flex;
}

.menu li .active {
    text-decoration: bisque;
    text-underline-offset: 5px;
    font-size: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11121a;
    padding: 8px;
}

.menu {
    display: flex;
    gap: 74px;
}

.menu li {
    justify-content: center;
    align-items: center;
    color: rgba(51, 51, 51, 1);
}

.menu li a {
    transition: font-size .3s ease-in-out;
    color: white;
}

.menu li a:hover {
    font-size: 18px;
}

.btn {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 32px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #c4c4c4;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    color: black;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

#sidebar {
    height: 100vh;
    width: 400px;
    padding: 5px;
    background-color: var(--base-color);
    border-right: 2px solid var(--line-color);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul {
    list-style: none;
}

#sidebar>ul>li:first-child {
    /*first-child Selects the element that is the first child of its parent (among a group of sibling elements)
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

}

#sidebar ul li.active a {
    color: var(--accent-color);

    svg {
        /*The SVG file format is a popular tool for displaying two-dimensional graphics, charts, and illustrations on websites
        fill: var(--accent-color);
    }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: 5rem;
    padding: 16px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-color);
}

#sidebar a span,
#sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    background-color: var(--hover-color);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    >div {
        /* > Selects every <p> element that are direct children of a <div> element
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 2rem;
}

#toggle-btn {
    margin-left: auto;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--hover-color);
}*/

* {
    box-sizing: border-box;
}

:root {
    --base-color: #11121a;
    --line-color: #42434a;
    --hover-color: #222533;
    --text-color: #e6e6ef;
    --accent-color: #5e63ff;
    --secondary-text-color: #b0b3c1;
  }

html {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
  }
  
  body {
    min-height: 100vh;
    background-color: var(--base-color);
    color: var(--text-color);
  }

  .logo {
    width: 90px;;
    height: auto;
}
  
  .main-container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--grey-light-1);
    box-shadow: var(--shadow-dark);
    display: flex;
    flex-direction: column;
  }
  
  .page-title {
    color: var(--accent-color);
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    height: 400px;
    font-weight: 600;
    width: 300px;
    padding: 32px;
    background-color: var(--base-color);
    border-right: 1px solid var(--line-color);
  }
  .sidebar li {
    color: bisque;
    padding: 16px;
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

}

  .read-more {
    border-radius: 16px;
    padding: 20px;
    background-color: black;
}

  #toggle-btn:hover {
    background-color: var(--hover-color);
  }
  
  main {
    padding: min(30px, 7%);
    width: 100%;
  }

  h2 {
    color: bisque;
    text-align: center;
  }
  
  .main-content {
    display: flex;
    gap: 20px;              
    padding: 20px;
}
  main p {
    color: var(--secondary-text-color);
    margin-top: 5px;
    margin-bottom: 15px;
    margin-top: 1rem
  }
  
  .container {
    border: 1px solid var(--line-color);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: 8px;
  
    h2,
    p {
      margin-top: 1em
    }
  }
  
  @media screen and (max-width:768px){
    body {
      grid-template-columns: 1fr;
    }
  
    main {
      padding: 2em 1em 60px 1em;
    }
  
    .container {
      border: none;
      padding: 0;
    }
  
    .sidebar {
      height: 60px;
      width: 100%;
      border-right: none;
      border-top: 1px solid var(--line-color);
      padding: 0;
      position: fixed;
      top: unset;
      bottom: 0;
  
      >ul {
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: scroll;
      }
  
      ul li {
        height: 100%;
      }
  
      ul a, ul .dropdown-btn {
        width: 60px;
        height: 50px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
      }
  
      ul li span, ul li:first-child, .dropdown-btn svg:last-child {
       display: none;
      }
  
      ul li .sub-menu.show {
        position: fixed;
        bottom: 60px;
        left: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: var(--hover-color);
        border-top: 1px solid var(--line-color);
        display: flex;
        justify-content: left;
  
        >div {
  
          overflow-x: auto;
        }
  
        li {
          display: inline-flex;
        }
  
        a {
          box-sizing: border-box;
          padding: 2rem;
          width: auto;
          justify-content: center;
        }
      }
    }
  }
  