* {
    box-sizing: border-box;
}

html {
    background-color: #525240;
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
}

.header {
    position: absolute;
    display: inline-block;
    background-color: #8A897C;
    padding: 0;
    width: 100%;
}

.header__page-title {
    display: flex; 
    justify-content: space-evenly;
    color: #353535;
    font-size: 2rem;
    margin: 0;

}

.header img {
    position: absolute;
    width: 60px;
    height: auto;
    border-radius: 30%;
    padding: 0;
}
  
