.team-content-con {
    padding: 50px 32px; 
}

.team-content-con > h2 {
    text-align: center;
    font-size: 3rem;
    padding-top: 2rem;
}

.team-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 50px 0px 50px 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
img {
    background-color: green;
    max-width: 100%;
}


.teamsDescription {
    display: block;
    position: relative; 
    width: 100%;
    color: black;
    background-color: white;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 250px;
}

.picture {
    width: 250px;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.5);
}

.team-name {
    background-color: darkseagreen;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.team {
    padding: 24px;

}

.picture img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 0;
}

p { 
    background: none; 
    color: #353535;
    border-radius: 10px;
    text-align: center;
}

.about-us__sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20vh;
    width: 270px;
    height: 20rem;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 10;
}

.about-us__sidebar h2 {
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.about-us__sidebar-item {
    color: white;
    font-size: 1rem;
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.about-us__sidebar-item:hover {
    background-color: #ddd;
    color: #333;
}

.about-us__sidebar.hidden {
    transform: translateX(-100%); 
}

.sidebar-hiden2 {
    display: none;
}

.about-us__toggle-btn {
    position: fixed;
    top: 20vh;
    left: 270px; 
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, left 0.3s ease;
    z-index: 20;
}

.about-us__toggle-btn.active {
    background-color: #555;
}

.about-us__sidebar.hidden ~ .about-us__toggle-btn {
    left: 10px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1100px) {
    .team-content-con {
        padding: 30px 32px; 
    }

    .team-content {
        margin-top: 30px;
        padding: 30px 15px 30px 15px;
    }
}

@media screen and (max-width: 690px) {
    .picture {
        width: 400px;
    }

    .teamsDescription {
        width: 400px;
    }

}

@media screen and (max-width: 569px) {
    .picture {
        width: 300px;
    }

    .teamsDescription {
        width: 300px;
    }
}

@media screen and (max-height: 560px) {
    
}

@media screen and (max-width: 420px) {
    .picture {
        width: 250px;
    }

    .teamsDescription {
        width: 250px;
    }
}