
footer {
    padding-top: 50px;
    width: 100%;
}

footer p {
    color: white;
}

.container {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: auto;
}

h3 {
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content ul {
    text-align: center;
}

.info {
    text-align: center;
    padding: 0;

}

.info  p{
    color: white;
    font-size: 1rem;
}

.list {
    text-align: center;
    padding: 0;
}
.list a {
    font-size:1rem;
    color: white;
}

.list li {
    padding: 5px;
    margin: 0 210px;
}
.list i {
    color: white;
}

.contact-us p {
    margin-bottom: 10px; 
    text-align: left;    
    line-height: 1.5; 
    display: inline-block;   
}

.list li:hover::before{
    width: 70px;
}
.social-icons {
    text-align: center;
    padding: 0;

}
.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 0 10px;
}
.social-icons i {
    color: white;
    font-size: 1rem;
}

a {
    text-decoration: none;
}
a:hover {
    color: white;
}
.social-icons i:hover {
    color: rgb(173, 173, 53);
}
.bottom-bar {
    background-color: rgb(84, 207, 198);
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

.bottom-bar p {
    color: brown;
    margin: 0;
    font-size: 16px;
    padding: 16px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }

    .footer-content {
        flex: 1 1 auto; 
        max-width: 100%;
    }

    .list li {
        margin: 0 auto; 
        padding: 5px;
    }

    .social-icons i {
        font-size: 20px; 
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 24px;
    }

    .list a {
        font-size: 16px;
    }

    .info p {
        font-size: 16px;
    }

    .social-icons i {
        font-size: 18px;
    }
}