*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.popup {
    background-color: aquamarine;
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    display: none;
}
.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: bisque;
    border: none;
    outline: none;
}

.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
}

a {
    display: block;
    width: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: brown;
    color: blanchedalmond;
    text-decoration: none;
    padding:5px 0 ;

}