@media screen and (max-width:1100px) {
    body {
        grid-template-columns: 1fr;
        display: grid;
    }

    main {
        padding: 16px;
        margin-top: 10%;
    }

    .logo {
        width: 55px;
    }

    .container {
        display: flex;
        flex-direction: row-reverse;
        padding: 25px;
    }

    .sidebar {
        width: 50%;
        padding: 8px;
        position: absolute;
        top: 110px;
        bottom: unset;
        background-color: unset;
    }

    .sidebar li {
        color: bisque;
        padding: 10px;
        cursor: pointer;
        border-radius: 10px;
        list-style-type: none;
        font-size: 1rem;
        transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        padding: 10px;
    }

    .animal_names {
        display: inline-flex;
        gap: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 0;
    }

    .class {
        display: contents;
        position: relative;
    }

    .btn {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .btn-footer {
        position: relative;
        left: 13px;
    }
}

@media screen and (max-width:630px) {
    .container {
        display: flex;
        flex-direction: column;
        padding: 25px;
        width: 95%;
        margin: 10px;
    }

    .sidebar {
        top: 90px;
    }

    .btn-footer {
        display: inline;
        position: inherit;
    }
}